<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.0.0.4001" />
  <package id="Castle.Facilities.AutoTx" version="3.0.202.2202" />
  <package id="Castle.LoggingFacility" version="3.0.0.4001" />
  <package id="Castle.Services.Transaction" version="3.0.202.2202" />
  <package id="Castle.Windsor" version="3.0.0.4001" />
</packages>