<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Use Castle Windsor as IoC container -->
    <add key="IoCContainerType" value="BerwickHeights.Platform.IoC.Castle.CastleContainerManager, BerwickHeights.Platform.IoC.Castle" />
    
    <!-- Prefix for SQL Server tables -->
    <add key="SqlTableNamePrefix" value="TEST_" />
    
    <!-- Always update database schema so we start with clean slate -->
    <add key="UpdateSchemaInDb" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="TestDatabase" connectionString="Database=BHS.UnitTests;Data Source=localhost\sqlexpress;Integrated Security=SSPI" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>