<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Use Castle Windsor as IoC container -->
    <add key="IoCContainerType" value="BerwickHeights.Platform.IoC.Castle.CastleContainerManager, BerwickHeights.Platform.IoC.Castle" />

    <!-- Configuration based in Redis server -->
    <add key="RedisNetAddr" value="evans:6379" />
  </appSettings>
  <connectionStrings>
    <add name="TestDatabase" connectionString="Database=BHS.UnitTests;Data Source=localhost\caliperdb;Integrated Security=SSPI" />
  </connectionStrings>
</configuration>