<?xml version="1.0" encoding="utf-8" ?><log4net>  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">    <file value="Logs\\TestWindsor.log" />    <appendToFile value="true" />    <datePattern value="MMddyyyy" />    <rollingStyle value="Date" />    <layout type="log4net.Layout.PatternLayout">      <conversionPattern value="%-5p %d %-22.22c{1} %-18.18M - %m%n" />    </layout>  </appender>  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">    <layout type="log4net.Layout.PatternLayout">      <conversionPattern value="%-5p %d %-22.22c{1} %-18.18M - %m%n" />    </layout>  </appender>  <root>    <level value="INFO" />    <appender-ref ref="RollingLogFileAppender" />    <appender-ref ref="ConsoleAppender" />  </root>  <logger name="NHibernate">    <level value="DEBUG" />  </logger>  <logger name="BerwickHeights.Platform">    <level value="DEBUG" />  </logger></log4net>